.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: center / cover no-repeat url('https://images.unsplash.com/photo-1552083375-1447ce886485?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bmF0dXJlJTIwd2FsbHBhcGVyfGVufDB8fDB8fHww');
    
}
.calendar-grid {
    --white: #f8f8f4;
    --white-opacity: rgba(255, 255, 255, 0.3);
    --cream: #d3d3d3;
    --black: #333;
    --primary: rgba(0, 112, 116, 1);
    --primary-variant: #034c53;
    --secondary: rgb(255, 193, 180);
    --secondary-variant: #f38c79;
    --secondary-opacity: rgba(255, 193, 180, 0.7);
    --background: var(--white);
    --surface: var(--white);
    --faded: #adb4b4;
    --faded-opacity: rgba(100, 100, 100, 0.3);
    --error: #b00020;
    --text-primary: var(--white);
    --text-secondary: var(--white);
    --text-background: var(--black);
    --text-surface: var(--black);
    --text-error: var(--white);
    --text-faded: var(--black);

    backdrop-filter: blur(3rem);
    background: none;
    max-width: 850px;
    margin: 10rem auto;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: var(--text-primary);
    filter: drop-shadow(0.3125rem 0.3125rem 0.625rem rgba(50, 50, 50, 0.35));
    user-select: none;

    .calendar-title {
        grid-column-start: span 7;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
        background: var(--primary);
        display: inline-flex;
        width: 100%;
        gap: 2rem;
        border-radius: 1rem 1rem 0 0;

        h1 {
            padding: 0.8rem 0;
            color: var(--text-primary);
            text-shadow: 0.1rem 0rem 0.3rem var(--black);
            min-width: 40rem;
        }

        button {
            background: center / cover no-repeat url('/choredo-fe/left-arrow.png');
            width: 2rem;
            height: 2.5rem;
            border: none;
            border-radius: 2rem;
            filter: drop-shadow(0.1rem 0rem 0.1rem var(--primary-variant)) hue-rotate(325deg);
            transition: all 0.1s ease-out;

            &:hover {
                transform: scale(1.1);
            }

            &:active:not(:focus-visible) {
                transform: scale(0.95);
                outline: none;
            }
        }

        button:last-child {
            transform: rotate(180deg);

            &:hover {
                transform: scale(1.1) rotate(180deg);
            }

            &:active:not(:focus-visible) {
                transform: scale(0.95) rotate(180deg);
                outline: none;
            }
        }
    }

    .calendar-cell {
        height: 6rem;
        padding: 0.2rem 0.4rem;
        border: var(--primary) 0.05rem dashed;
        color: var(--text-surface);
        background-color: var(--white-opacity);
        text-shadow: 0rem 0.1rem 0.35rem var(--white-opacity);
        border-radius: unset;
        position: relative;
        transition: all 0.4s ease-out;

        &.header {
            background: var(--primary-variant);
            color: var(--text-primary);
            height: 2rem;
            border: none;
            overflow: hidden;
        }

        &.content {
            overflow: hidden;

            * {
                justify-self: start;
            }

            .calendar-day-numeric {
                border-radius: 0.2rem;
                width: 2rem;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 0.2rem;
                    bottom: 0;
                    left: 0;
                    background: var(--primary);
                    border-radius: 1rem;
                }
            }

            .calendar-day-events {
                font-size: 0.8rem;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                width: 100%;
            }

            .calendar-day-event {
                text-align: left;
                width: 100%;
                padding-left: 0.6rem;
                position: relative;
                overflow: hidden;

                /* &.high-priority {
                    &::before {
                        background: red;
                    }
                }

                &.medium-priority {
                    &::before {
                        background: orange;
                    }
                }

                &.low-priority {
                    &::before {
                        background: green;
                    }
                } */

                &::before {
                    content: '';
                    position: absolute;
                    width: 0.3rem;
                    height: 0.3rem;
                    border-radius: 100%;
                    top: calc(50% - 0.15rem);
                    left: 0.1rem;
                    background: var(--text-surface);
                }
            }
        }

        &.content.faded {
            background-color: var(--faded-opacity);
            color: var(--text-faded);

            .calendar-day-event {
                &::before {
                    background: var(--text-faded);
                }
            }
        }

        &.content.highlight {
            cursor: pointer;
            background: var(--secondary-opacity);
            color: var(--text-secondary);
            text-shadow: 0rem 0.05rem 0.2rem var(--black);

            .calendar-day-numeric {
                color: var(--text-secondary);

                &::before {
                    background: var(--secondary-variant);
                }
            }

            .calendar-day-event {
                &::before {
                    background: var(--text-secondary);
                }
            }
        }

        &.content.current-day {
            .calendar-day-numeric {
                color: var(--text-secondary);
                background: var(--secondary-variant);
                text-shadow: 0rem 0.05rem 0.2rem var(--black);

                &::before {
                    background: none;
                }
            }
        }

        &:hover {
            cursor: pointer;
            border: var(--secondary-variant) 0.2rem solid;
        }

        &.bottom-right {
            border-radius: 0 0 1rem 0;
        }

        &.bottom-left {
            border-radius: 0 0 0 1rem;
        }
    }

    .calendar-row-selector-grid {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 7.25rem;
        height: 100%;
        align-items: center;
        left: -3rem;

        .calendar-row-selector-label {
            display: block;
            position: relative;
            padding-left: 2.1875rem;
            margin-bottom: 0.75rem;
            cursor: pointer;
            font-size: 1.375rem;
            user-select: none;

            input {
                position: absolute;
                cursor: pointer;
                opacity: 0;
                height: 0;
                width: 0;
            }

            .calendar-row-selector-checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 2rem;
                width: 2rem;
                background-color: var(--white);
                border-radius: 2rem;
            }

            &:hover input ~ .calendar-row-selector-checkmark {
                background-color: var(--secondary);
            }

            &:focus-visible input ~ .calendar-row-selector-checkmark {
                background-color: var(--secondary);
                outline: 1rem solid var(--black);
            }

            input:checked ~ .calendar-row-selector-checkmark {
                background-color: var(--secondary-variant);
            }

            .calendar-row-selector-checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            input:checked ~ .calendar-row-selector-checkmark:after {
                display: block;
            }

            .calendar-row-selector-checkmark:after {
                left: 0.65rem;
                top: 0.375rem;
                width: 0.625rem;
                height: 0.9375rem;
                border: solid var(--white);
                border-width: 0 0.3125rem 0.3125rem 0;
                transform: rotate(45deg);
            }
        }
    }
}