#root {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  width: fit-content;
  min-width: 30.188rem;
  padding: 2em;
  margin: 1rem;
  border-radius: 1rem;
  background: #1a2411;
  box-shadow: 0.3125rem 0.625rem 0.625rem #080608ad;
  border: 0.15rem solid #658812;
}

@keyframes bob {
  from {
    top: 0;
  }

  to {
    top: -0.5rem;
  }
}

@keyframes bob-reflection {
  from {
    top: 10rem;
    opacity: 0.3;
  }

  to {
    top: 10.5rem;
    opacity: 0.1;
  }
}

.achievement,
.achievement-reflection {
  width: 15rem;
  height: 15rem;
}

.achievement {
  z-index: 1;
  position: relative;
  filter: drop-shadow(3px 4px 10px #000);
  animation: bob 1.5s ease-in-out infinite alternate-reverse;
}

.achievement-reflection {
  z-index: 0;
  position: absolute;
  transform: scale(1, -0.6);
  top: 10rem;
  filter: blur(0.1rem);
  opacity: 0.3;
  mask-image: linear-gradient(transparent 30%, white 90%);
  animation: bob-reflection 1.5s ease-in-out infinite alternate-reverse;
}

div:nth-child(4n) > .achievement,
div:nth-child(4n) > .achievement-reflection {
  animation-delay: 0s;
}
div:nth-child(4n-1) > .achievement,
div:nth-child(4n-1) > .achievement-reflection {
  animation-delay: -0.5s;
}
div:nth-child(4n-2) > .achievement,
div:nth-child(4n-2) > .achievement-reflection {
  animation-delay: -1s;
}
div:nth-child(4n-3) > .achievement,
div:nth-child(4n-3) > .achievement-reflection {
  animation-delay: -1.5s;
}


@media screen and (max-width: 720px) {
  h1 {
    padding-inline: 1rem;
    font-size: 2rem;
  }

  .card {
    min-width: calc(100% - 4rem);

    section {
      flex-wrap: wrap;
    }
  }

  nav > a {
    font-size: 0.8rem;
  }
}